@font-face {
    font-family: bobSponge;
    src: url(../fonts/bobSponge.ttf);
}


/* La pots inclinar i utlitzar una part en color vermell */


/* Century gotics works as twinpeaks font */

@font-face {
    font-family: twinPeaks;
    src: url(../fonts/twinPeaks.otf);
}

:root {
    --my-fav-color: rgb(237, 86, 25)
}

html {
    font-size: 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    margin: 0;
    margin-top: 2rem;
    color: #1f1f1f;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: grey;
}

h1 {
    font-size: 10rem;
    margin-top: 25%;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 0;
    word-break: break-all;
}

#block {
    margin-top: 55%;
}
#block video {
    position: fixed;
    top: 300px;
    left: -50px;
    z-index: 0;
    /* opacity: 1; */
    mix-blend-mode: multiply;
}
#block h1 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    mix-blend-mode: multiply;
    opacity: 1;
    z-index: 1;
}
#block + p {
    margin-top: 10%;
    z-index: 1;
    mix-blend-mode: multiply;

}
h2 {
    text-align: initial;
    font-size: 5rem;
    margin-left: 5rem;
    margin-top: 0;
    text-transform: uppercase;
    word-break: break-all;
}

section h2 {
    font-size: 2rem;
    margin-left: 3rem;
}

header {
    margin-left: 5rem;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    /* float: left; */
    margin-left: 0;
}

nav {
    position: fixed;
    width: 100%;
    font-size: 1.2rem;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

nav li {
    display: inline-block;
}

li .lost {
    /* If position is not either fixed or absolute (at least those two) the transition transform does not work */
    position: absolute;
    margin-right: 3rem;
    transition: transform 6s, text-shadow 2s;
}

li .lost:hover {
    transform: rotateX(180deg) rotateY(180deg);
    text-shadow: 0 0 4px rgb(0, 0, 0);
    color: transparent;
}

ul {
    list-style: none;
}

.inside {
    visibility: hidden;
}

.carte {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    margin: 4rem auto;
    width: 60%;
    padding: 0;
    justify-content: center;
}

.carte li {
    flex-grow: 1;
    border: 1px solid rgb(235, 229, 225);
    padding: 5px;
    margin: 2px;
    border-radius: 2px;
}

.carte li:hover {
    cursor: pointer;
    background-color: rgb(192, 172, 183);
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto auto;
    justify-content: space-evenly;
}

section div {
    display: grid;
    grid-template-rows: 1fr, 1fr, 2fr;
    /*  repeat(3, 1fr); */
    flex-grow: 0;
    width: 300px;
    margin: 50px auto;
    border: 1px solid rgb(240, 238, 236);
    text-align: center;
}

section div:hover {
    background-color: rgb(230, 234, 235);
    border: 1px solid rgb(0, 0, 0);
    text-justify: inter-word;
}

section h3 {
    float: left;
    width: 75%;
    font-size: 2.5rem;
    text-align: left;
}

section h4 {
    visibility: hidden;
    text-align: left;
}

section div:hover h4 {
    position: relative;
    visibility: visible;
}

section ul {
    font-size: 1.5rem;
    padding: 0;
}

.ingredients li {
    display: inline-block;
    word-break: break-all;
}

p.extras {
    font-size: 1rem;
    background-color: initial;
}

section div li::before {
    content: '·';
}

section#reservations {
    justify-content: unset;
}

section#reservations h3 {
    display: inline;
    width: 100%;
}

section#reservations p {
    display: inline;
}

h4 {
    position: static;
    height: 12px;
    margin: 0;
    padding: 0;
}

img.img-menu {
    justify-self: center;
    width: 150px;
    margin: 0;
    clip-path: circle(30%);
}

img:hover {
    clip-path: circle(70%);
}

#opening {
    font-family: archer;
    font-size: 48px;
    text-align: center;
}

#bobSponge h3 {
    font-family: bobSponge;
    font-size: 28px;
    color: var(--my-fav-color);
}

.twin-peaks h3 {
    font-family: twinPeaks;
}

h3 span {
    font-size: 2rem;
    font-style: italic;
}

section+span {
    margin-left: 3rem;
    font-size: 1rem;
}

li p {
    font-size: 1rem;
}

h6 {
    font-size: 5rem;
    margin: auto;
}

p {
    font-size: 2rem;
    margin-left: 5rem;
    width: 55%;
}

p+ul {
    padding: 0;
    margin-left: 5rem;
}


/* ABOUT */

#vid {
    position: relative;
    bottom: -40vh;
    margin-top: 0rem;
    margin-left: 5rem;
    padding-bottom: 2rem;
}

#vid p {
    font-size: 1.4rem;
    display: inline-block;
    margin-left: 1rem;
    width: 20%;
}


/* MENU */

#opening {
    word-break: normal;
}

.detail-list {
    position: fixed;
    right: 3rem;
    bottom: 1.5rem;
    z-index: 1;
}

h2+div p {
    margin-left: 5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

img.jules {
    margin-top: 38px;
    width: 100%;
    z-index: 1;

}

@media (max-width: 1060px) {
    .detail-list {
        left: calc(560px + 6.2rem);
        bottom: calc(315px - 128px + 2rem);
        /* bottom: 15rem; */
        padding: 0;
        font-size: 1.4rem;
        text-overflow: clip;
    }
    #vid iframe {
        min-width: 560px;
    }

}
@media (max-width: 860px) {
    .detail-list {
        position: sticky;
        top: 28%;
        bottom: 900px;
        padding: 0;
        margin-left: 5rem;
    }
    #vid p {
        width: 60%;
        margin-left: 0;
    }
}

@media (max-width: 780px) {
    body {
        width: 100%;
    }

    h1 {
        /* word-break: normal; */
        margin-top: 15%;
    }
    p {
        width: 80%;
    }
    iframe {
        width: 85%;
    }

    section {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    section div {
        width: 100%;
    }
}

@media (max-width: 500px) {
    h1 {
        word-break: break-all;
    }
}