
@font-face {
    font-family: archer;
    src: url(../fonts/Archer-Bold-Pro.otf);
    /* src: url(../fonts/Archer-Bold-Pro.otf); */
}

@font-face {
    font-family: doraemon;
    src: url(../fonts/doraemon.ttf);
}
@font-face {
    font-family: parksAndRecreation;
    src: url(../fonts/parksAndRecreation.otf) format("opentype");
}
@font-face {
    font-family: pulpFiction;
    src: url(../fonts/pulpFiction.ttf);
}
@font-face {
    font-family: theWalkingDeath;
    src: url(../fonts/Tungsten-Bold.ttf);
}
@font-face {
    font-family: friends;
    src: url(../fonts/friends.ttf);
}
@font-face {
    font-family: bobSponge;
    src: url(../fonts/bobSponge.ttf);
}
/* La pots inclinar i utlitzar una part en color vermell */
@font-face {
    font-family: bigBang;
    src: url(../fonts/bigBang.otf);
}
/* Century gotics works as twinpeaks font */
@font-face {
    font-family: twinPeaks;
    src: url(../fonts/twinPeaks.otf);
}
@font-face {
    font-family: thePunisher;
    src: url(../fonts/thePunisher.otf) format("opentype");
}

@font-face {
    font-family: american;
    src: url(../fonts/american.ttf);
}
:root {
    --my-fav-color: rgb(237, 86, 25)
}
html {
    font-size: 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    margin-top: 2rem;
    color: #1f1f1f;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
    font-style: none;
}
a:hover {
    color: grey;
}
h1 {
    font-size: 10rem;
    margin-top: 25%;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 0;
}
h2 {
    text-align: initial;
    font-size: 5rem;
    margin-left: 5rem;
    margin-top: 0;
    text-transform: uppercase;
}
section h2 {
    font-size: 2rem;
    margin-left: 3rem;
}
header {
    margin-left: 5rem;
}
header h1 {
    margin: 0;
    font-size: 2rem;
    /* float: left; */
    margin-left: 0;
}
nav {
    position: fixed;
    width: 100%;
    font-size: 1.2rem;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
nav li {
    display: inline-block;
}
li .lost {
    /* If position is not either fixed or absolute (at least those two) the transition transform does not work */
    position: absolute;
    /* float: right; */
    margin-right: 3rem;
    /* transition-timing-function: linear; */
    transition: transform 6s, text-shadow 2s;
}
li .lost:hover {
    transform: rotateX(180deg) rotateY(180deg);
    text-shadow: 0 0 4px rgb(0, 0, 0);
    color: transparent;
}



ul {
    list-style: none;
}
.inside {
    visibility: hidden;
}
.carte {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    margin: 4rem auto;
    width: 60%;
    padding: 0;
    justify-content: center;
}

.carte li {
    flex-grow: 1;
    border: 1px solid rgb(235, 229, 225);
    padding: 5px;
    margin: 2px;
    border-radius: 2px;
}

.carte li:hover {
    cursor: pointer;
    background-color: rgb(192, 172, 183);
}
section {
    /* width: 40%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto auto;
    /* text-align: center; */
    justify-content: space-evenly;
}
section div {
    display: grid;
    grid-template-rows: 1fr, 1fr, 2fr;/*  repeat(3, 1fr); */
    flex-grow: 0;
    /* float: left; */
    width: 300px;
    /* width: 25%; */
    /* min-width: 300px;
    max-width: 500px; */
    margin: 50px auto;
    border: 1px solid rgb(240, 238, 236);
    text-align: center;

}
section div:hover {
    background-color: rgb(230, 234, 235);
    border: 1px solid rgb(0, 0, 0);
    text-justify: inter-word;


}
section h3 {
    float: left;
    width: 75%;
    font-size: 2.5rem;
    text-align: left;
}
section h4 {
    visibility: hidden;
    text-align: left;

}
section div:hover h4 {
    position: relative;
    visibility: visible;
}
section ul {
    font-size: 1.5rem;
    /* float: left; */
    padding: 0;
}
.ingredients li {
    display: inline-block;
    word-break: break-all;
}
p.extras {
    font-size: 1rem;
    background-color: initial;
}
section li::before {
    content: '·';
}
section#reservations {
    justify-content: unset;
}
section#reservations h3 {
    display: inline;
    width: 100%;
}
section#reservations p {
    display: inline;
}
h4 {
    position: static;
    height: 12px;
    margin: 0;
    padding: 0;
}

img {
    justify-self: center;
    width: 150px;
    margin: 0;
    clip-path: circle(30%);
}
img:hover {
    /* width: initial; */
    clip-path: circle(70%);
}
#opening {
    font-family: archer;
    font-size: 48px;
    text-align: center;
    /* margin: 100px auto; */
}

#bobSponge h3 {
    font-family: bobSponge;
    font-size: 28px;
    color: var(--my-fav-color);
}

.twin-peaks h3 {
    font-family: twinPeaks;
}

#reservations h2 {
    font-family: american;
}
h3 span {
    font-size: 2rem;
    font-style: italic;
}
section + span {
    margin-left: 3rem;
    font-size: 1rem;
}
li p {
    font-size: 1rem;
}

h6 {
    font-size: 5rem;
    /* margin: 3rem; */
    /* margin-top: 20rem; */
    margin: auto;
}

p {
    font-size: 2rem;
    margin-left: 5rem;
    width: 55%;
}
p + ul {
    padding: 0;
    margin-left: 5rem;
}
/* ABOUT */

#vid {
    /* margin-left: 5rem; */
    margin-top: 2rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
}
#vid p {
    font-size: 1.6rem;
    display: inline-block;
    margin-left: 1rem;
    width: 20%;
}

